# ignore files
*.svg
*.log
*.ini
*.html
*.db*
owl*
!$APPNAME$.b4j
!$APPNAME$.b4j.meta

# ignore ALL files in these directories
User Login Server/AutoBackups/

# Include www directory
User Login Server/Objects/
!User Login Server/Objects/www/*
